<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to test an InAppBrowser?</strong>
    <p>Open <a rel="noopener noreferrer" href="" (click)="openInAppBrowser()">Ionic UI Components</a> inside this app</p>
  </div>
</ion-content>
